.cabecalho{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: #f9f9f9;    
}

.cabecalho-logo{
    scale: calc(0.5); 
}

a{
    text-decoration: none; 
    color: black;   
}

@media screen and (min-width: 0){
    .cabecalho {
        justify-content: center;
        padding: 0 1em;
    }
}

@media screen and (min-width: 765px) {
    .cabecalho{
        padding: 0 1rem;
        justify-content: space-between;
    }    
}