.carrossel-titulo{
    font-family: 'Poppins';
    color: #00AFF0;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-txt{
    color: #00AFF0;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 700;
}
.swiper-slide img{
    width: 100%;   
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.swiper{
    width: 100%;
    min-width: 500px;
} 

@media screen and (min-width: 1024px) {

    .carrossel-titulo{
        font-size: 26px;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

   .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 60%;
    }}

    @media screen and (min-width: 1728px) {
        .carrossel-container{
            display: flex;
            margin: 0 20vw 3em 20vw;
            align-items: center;
        }
    
        .swiper-pagination{
            margin: 1em 0;
        }
    
       } 