.feedbacks{
    font-family: 'Poppins';
    padding: 3rem;
    background-color: #f9f9f9;;
}

.feedback-titulo{
    font-family: 'Poppins';
    color: #00AFF0;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-feedback{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.feedback-txt{
    text-align: center;
    padding: 1rem;
    font-weight: 200;
}

.feedback-nome{ 
    color: #00AFF0;
    font-size: 16px;
}

.feedback-local{
    font-size: 14px;
    font-weight: 200;
}

.swiper-slide{
min-width: 238px;
}

/* @media and screen (max-width: 660px) { 
     .swiper-slide {
         min-width: 50%;
     }
};
@media and screen (max-width: 500px) { 
     .swiper-slide {
         min-width: 100%;
     }
} */