.menu-item{
    list-style: none;

}

.menu-item:last-child .menu-link{
    margin-right: 0;
}

.menu-link{
    text-decoration: none;
    color: #808080;
    text-transform: uppercase;
    margin-right: 1.25rem;
}

.menu-link:hover{
    text-decoration: underline;
}

.menu-link.ativo{
    color: #333333;
    font-weight: bold;
}

.menu-lista{
    display: flex;
    padding-top: 2em;
    padding-right: 3rem;
}

@media screen and (min-width: 0){
    .menu-lista {
        padding-left: 3rem;
    }
}

/* @media screen and (min-width: 765px) {
    .cabecalho{
        padding: 0 1rem;
        justify-content: space-between;
    }    
} */