@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:ital,wght@1,300&display=swap');

.produtos-titulo{
    font-family: 'Poppins';
    color: #00AFF0;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.produtos{
    max-width: 1400px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;}

.produtos-container{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.produto{
    padding: 1rem;
    border-radius: 10px;
    
}

.produto:hover{
    cursor: pointer;
    background-color:#f9f9f9;
}

.produto-imagem{
    height: 200px;
    border-radius: 100px;
}

.produto-info{
    font-family: 'Poppins';   
}

.produto-titulo{
    color: #00AFF0;
    font-weight: 500;
    font-size: 18px;
    padding: 1em 0;
    text-transform: uppercase;
}

.produto-descricao{
    padding-bottom: 1em;
    font-size: 14px;
    font-weight: 400;
    color: #a09e9e;
}

.produto-detalhe{
    padding-bottom: 1em;
    font-size: 12px;
    font-weight: 400;
    color: #a09e9e;
    font-style: italic;
}

.produto-apartir{
    padding: 1rem 0 1rem 0;
    font-size: 13px;
    font-weight: 400;
    color: #a09e9e;

}

.produto-valor{
    color: #00AFF0;
    font-weight: 700;
    font-size: 25px;
}